* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "poppins", sans-serif;

}

.logo {
	width: 90px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

body {
	background: #36364B;
}

header {
	background: #000;
	font-weight: 900;
}

header li a {
	color: #FFC300;
}

.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.navbar ul {
	list-style-type: none;
	width: 100%;
	text-align: center;
}

.navbar ul li {
	display: inline-block;
	word-spacing: 10%;
}

.card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 100px;
}

.portrait {
	width: 720px;
	border-radius: 12px;
	overflow-x: hidden;
	margin: 20px;
	background-color: #11121B;
	box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.8);

}

.portrait img {
	width: 100%;
	height: auto;
}

.content {
	padding: 16px;
}

.content h1{
	color: #fff;
	font-size: 20px;
	margin-bottom: 10px;

}

.content p {
	color: #fff;
	font-size: 16px;
	line-height: 1.3;
}

.mobile-nav {
	display: none;
}

.hamburger {
	display: none;
}

.store-header {
	background-color: #FFC300;
	padding: 25px; /* 1st Value is Top/Bottom, 2nd is Left/right */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.store-header .header-icons {
	font-size: 30px;
	cursor: pointer;
}

.header-icons {
	padding: 0 auto;
	vertical-align: middle;
}

.header-icons a {
	color: #000;
}

.header-icons .bi-person-fill {
	display: inline-block;
	position: absolute;
	left: 90%;
	bottom: 10px;
}

.header-icons .bi-cart3 {
	display: inline-block;
	position: absolute;
	left: 95%;
	bottom: 10px;
}

.header-icons i:hover {
	color: #fff;
	transition: 0.3s;
}

/* Cart Icon Status */ 

.header-icons-status {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	height: 20px;
	min-width: 20px;
	background-color: orangered;
	color: #000;
	position: absolute;
	top: 1px;
	right: 23px;
	z-index: 1;
	border-radius: 8px;
	font-size: 12px;
}



@media screen and (max-width: 600px) {

.navbar ul li {
	display: none;
	word-spacing: 10%;
}

.hamburger {
	display: block;
	width: 30px;
	cursor: pointer;
	appearance: none;
	background: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;

}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
	position: relative;
	z-index: 100;
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
	position: relative;
	z-index: 100;
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	right: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #000;
	padding-top: 120px;
	transition: 0.4s;

}

.mobile-nav.is-active {
	right: 0;
}

.mobile-nav a {
	text-align: center;
	display: block;
	margin: 0 auto 16px;
	padding: 12px 16px;
	color: #FFC300;

}
}