* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "poppins", sans-serif;

}

.logo {
	width: 90px;
	display: block;
}

body {
	background: #36364B;
}

header {
	background: #000;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header li a {
	color: #FFC300;
}

.navbar {
	padding: 10px 50px 0 0;
}

.navbar ul {
	list-style-type: none;
	float: left;
	
}

.navbar ul li {
	display: inline-block;
	
}

.banner {
	margin-top: 50px;
}

.banner img {
	width: 100%;
	border-radius: 6px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.article {
	position: relative;
	margin-bottom: 30px;
	display: block;
	width: 66.6%;
}

.article h1 {
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	margin-top: 50px;
	padding: 16px 45px;
}

.hr, .hr {
	clear: both;
    border-top: solid var(---color-border);
    border-width: 1px 0 0;
    margin: 1.25rem 0;
    height: 0;
}

.article .time {
	color: #fff;
	font-size: 14px;
	margin-top: 12px;
	padding-left: 45px;
}

.article .author {
	color: #fff;
	font-size: 14px;
	vertical-align: baseline;
}

.article > div {
	display: block;
}

.article .article-wrapper {
	width: 66.6%;
	margin: 45px;
}

#one {
	color: #fff;
	font-size: 20px;

}


.mobile-nav {
	display: none;
}

.hamburger {
	display: none;
}


@media screen and (max-width: 600px) {

	.logo {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}


.navbar ul li {
	display: none;
	word-spacing: 10%;
}

#one {
	color: #fff;
	font-size: 10px;

}

.article .time {
	color: #fff;
	font-size: 11px;
	margin-top: 12px;
	padding-left: 45px;
}

.article .author {
	color: #fff;
	font-size: 11px;
	vertical-align: baseline;
}

.hamburger {
	display: block;
	width: 30px;
	cursor: pointer;
	appearance: none;
	background: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;

}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
	position: relative;
	z-index: 100;
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
	position: relative;
	z-index: 100;
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	right: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #000;
	padding-top: 120px;
	transition: 0.4s;

}

.mobile-nav.is-active {
	right: 0;
}

.mobile-nav a {
	text-align: center;
	display: block;
	margin: 0 auto 16px;
	padding: 12px 16px;
	color: #FFC300;

}


}