* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "poppins", sans-serif;

}

.logo {
	width: 90px;
	display: block;
}

body {
	background: #36364B;
}

header {
	background: #000;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header li a {
	color: #FFC300;
}

.navbar {
	padding: 10px 50px 0 0;
}

.navbar ul {
	list-style-type: none;
	float: left;
	
}

.navbar ul li {
	display: inline-block;
	
}

.title a {
	color: #fff;
}

.title a > img {
	width: 512px;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
}

.title {
	display: block;
	margin: 50px 20px 0 20px;
	padding: 20px;
	text-align: center;
	background-color: #11121B;
	border-radius: 12px;
}

.gallery1 img {

	width: 100%;
	height: 360px;
	align-items: center;
	justify-content: center;
	object-fit: fill;

}

.gallery-wrapper {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 5px;
	grid-auto-flow: dense;
}



.gallery1:hover {
	border: 2px solid #FFC300;
}


#one, #two {
 color: #fff;
 text-align: center;
 margin-top: 20%;

}


.mobile-nav {
	display: none;
}

.hamburger {
	display: none;
}


@media screen and (max-width: 600px) {


	.logo {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}


.navbar ul li {
	display: none;
	word-spacing: 10%;
}

.gallery-wrapper {
	display: flex;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	grid-template-rows: repeat(3, minmax(250px, 1fr));
	grid-gap: 10px;
	flex-wrap: wrap;
	width: 100%;

}

.gallery-wrapper img {
	position: relative;
	width: 128px;
	height: 161px;
	overflow: hidden;
	object-fit: fill;
	
}


#one, #two {
	color: #fff;
	text-align: center;
	margin-top: 50%;
}

.hamburger {
	display: block;
	width: 30px;
	cursor: pointer;
	appearance: none;
	background: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;

}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
	position: relative;
	z-index: 100;
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
	position: relative;
	z-index: 100;
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	right: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #000;
	padding-top: 120px;
	transition: 0.4s;

}

.mobile-nav.is-active {
	right: 0;
}

.mobile-nav a {
	text-align: center;
	display: block;
	margin: 0 auto 16px;
	padding: 12px 16px;
	color: #FFC300;

}

}