* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "poppins", sans-serif;

}

.logo {
	width: 90px;
	display: block;
}

body {
	background: #36364B;
}

header {
	background: #000;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header li a {
	color: #FFC300;
}

.navbar {
	padding: 10px 50px 0 0;
}

.navbar ul {
	list-style-type: none;
	float: left;
	
}

.navbar ul li {
	display: inline-block;
	
}


.news-container {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	overflow: hidden;
}

.news-container .title {
	position: absolute;
	background-color: red;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
	font-weight: bold;
	z-index: 100;
}

.news-container ul {
	display: flex;
	list-style: none;
	transform: translateX(-595px);
	animation: scroll 25s infinite linear;
}

.news-container ul li {
	white-space: nowrap;
	padding: 10px 24px;
	color: #494949;
}

.news-container ul li::after {
	content: "";
	width: 1px;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
}

.news-container ul li:last-child::after {
	display: none;
}

@keyframes scroll {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(-595px);
	}
}


/* Blog */ 

.blog-container {
	background: none;
	margin-top: 200px;
	display: grid;
    padding-bottom: 15px;
 	width: 100%;
 	grid-auto-flow: column;
 	overflow-x: auto;
 	overscroll-behavior-inline: contain;

}

.blog-container::-webkit-scrollbar {
	width: 0;
}

.blog-card {
	background-color: #11121B;
	margin: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
	width: 360px;
	height: auto;
}

.blog-card img {
	width: 100%;
	height: auto;
}

.content {
	padding: 12px;
}

.content .btn1 {
	display: inline-block;
	padding: 8px 16px;
	background-color: #000;
	border-radius: 12px;
	margin-top: 16px;
	color: #fff;
}

.content h1 {
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	margin: 12px;
}

.factorynews-container {
	background-color: #11121B;
	border-radius: 12px;
	border: 2px solid #FFC300;
	width: 75%;
	height: 360px;
	margin-top: 15%;
	padding: 40px;
	overflow-y: scroll;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	
}

/* Vertical News Scroller */ 

::-webkit-scrollbar-track {
	background-color: hsl(242, 15%, 33%);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
	border-radius: 100vw;
}

#three

{
	color: #fff;
	overflow: hidden;

}

#two {
	color: #fff;
	margin: 12px 16px;
	padding: 6px;

}

h3 {
	font-size: 26px;
	font-weight: 700;
	line-height: 1;
	margin-top: 250px;
	text-align: center;
	position: relative;
	color: #fff;
}

/* Index Banner Animation */

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}
.banner .slider {

    position: absolute;
    width: 200px;
    height: 250px;
    top: 30%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg)
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg)
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(550px);
    }


.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider::-webkit-scrollbar {
	display: none;
}

.factorynews-container::-webkit-scrollbar {
	display: none;
}

.mobile-nav {
	display: none;
}

.hamburger {
	display: none;
}

@media (min-width: 600px) {

.slider-wrapper {
	display: none;
}

}



@media screen and (max-width: 600px) {

.logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.navbar ul li {
	display: none;
}

.banner {
	display: none;
}

.container {
	padding: 2rem;
}


.slider-wrapper {
	position:relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	border-radius: 0.5em;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}


.blog-card {
	background-color: #11121B;
	margin: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
	width: 360px;
	height: auto;
}

.content h1 {
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	margin: 12px;
}

#two {
	color: #fff;
	margin: 12px 16px;
	padding: 6px;
	font-size: 10px;

}

.card-container {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.card {
	width: 350px;
	border-radius: 12px;
	margin: 20px auto 20px auto;
	overflow-x: hidden;
	background-color: #11121B;
	box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.8);
}


#slider {
	overflow: hidden;
	width: 100%;
	object-fit: contain;
	inset: 0;
	object-position: center;
	margin-top: 5%;

}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}


#slider figure img {
	float: left;
	width: 20%;
	height: 30vh;
	}

.news-container .title {
	position: absolute;
	background-color: red;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 12px;
	color: #fff;
	font-weight: bold;
	z-index: 1;
}

.news-container {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	overflow: hidden;
	height: 20px;
}

.hamburger {
	display: block;
	width: 30px;
	cursor: pointer;
	appearance: none;
	background: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;

}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
	position: relative;
	z-index: 100;
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
	position: relative;
	z-index: 100;
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	right: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #000;
	padding-top: 120px;
	transition: 0.4s;

}

.mobile-nav.is-active {
	right: 0;
}

.mobile-nav a {
	text-align: center;
	display: block;
	margin: 0 auto 16px;
	padding: 12px 16px;
	color: #FFC300;

}

.text h2 {
	font-size: 10px;
}

}